<div class="modal-dialog modal-{{settings.modal.size}}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title ml-3">{{settings.modal.name}}</h5>
            <button type="button" class="close" id="closeInvoice" data-dismiss="modal" onclick=" ">×</button>
        </div>
        <div class="modal-body nopadding">

            <div ng-if="settings.modal.active == 'Discount'">
                <div class="w-100" ng-if="settings.modal.name == 'Update Discount'">
                    <div class="p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="discnt form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount" readonly/>
                            <input class="uplimit form-control font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" readonly/>
                            <input class="lowlimit form-control font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" readonly/>
                        </div>
                        <form class="float-right w-45 updateDiscount row m-0">
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount" name="discnt" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" name="uplimit" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" name="lowlimit" />
                        </form>
                    </div>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <button type="button" class="b-0 btn btn-success" onclick="UpdateDiscount()">
                                    {{settings.modal.name | limitTo:6}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Add Discount'">
                    <form class="p-4 w-100 updateDiscount row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Discount" name="discnt" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" name="uplimit" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" name="lowlimit" />
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <button type="button" class="b-0 btn btn-success" onclick="UpdateDiscount()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100" ng-if="settings.modal.active == 'User'">
                <div class="w-100" ng-if="settings.modal.name == 'Add User'">
                    <form class="p-4 w-100 addUserForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Name" name="user" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Username" name="user_name" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Password" name="user_pass" />
                        <div class="row justify-content-between w-50">
                            <span>
                                <input type="radio" id="admin" value="admin" name="role" />
                                <label for="admin" class="f-15 ml-2">Admin</label>
                            </span>
                            <span>
                                <input type="radio" checked value="user" name="role" id="user" />
                                <label for="user" class="f-15 ml-2">User</label>
                            </span>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <button type="button" class="b-0 btn btn-success" onclick="addUser()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>