* {
    padding: 0;
    margin: 0;
    /*background-color: #333;*/
}

.sechue {
    background: #d9534f;
    color: white;
}

.btn.sechue:hover {
    background: #b73434 !important;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #eee;
}
/* 
.wrapper {
    padding-left: 80px;
} */

.wrapper.toggled {
    padding-left: 250px !important;
}

.wrapper.toggled .sidebarleft {
    width: 250px !important;
}

/* .wrapper.toggled .main-sidebar-right {
    width: 30.7%;
}

.wrapper.toggled .prime-hd {
    width: 69.3%;
}
.wrapper.toggled .Users .main-sidebar-right {
    width: 50.7%;
}

.wrapper.toggled .Users .prime-hd {
    width: 49.3%;
} */

.orderRow {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 4;
    display: flex;
    align-items: center;
    min-width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.orderRow div {
    background: #999;
    color: white;
    width: 100px;
    height: 100px;
    margin-right: 50px !important;
    /*margin-right: 150px;*/
}

.orderRow pdiv {
    margin-right: 0px !important;
    /*padding: 20px;*/
    margin-top: 0;
    margin-left: 0;
}

.orderRow .adiv:hover {
    background: #333;
    font-weight: 500;
    margin-top: -5px !important;
    margin-left: -5px !important;
    width: 113px !important;
    height: 113px !important;
}

.orderRow .divfocus {
    background: #49B756;
    /*background: #d9534f;*/
    font-weight: 500;
    margin-top: -5px !important;
    margin-left: -5px !important;
    width: 113px !important;
    height: 113px !important;
}

.orderRow h6 {
    width: 80%;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    font-weight: 200;
    height:auto;
    font-family: Myriad;
}

.sidebarleft {
    /* width: 80px; */
    position: fixed;
    z-index: 1000;
    left: 0;
    height: 100%;
    /*margin-left: -250px;*/
    overflow: hidden;
    background: #333;
}

.navig ul {
    width: 100%;
}

.navig li {
    width: 300%;
    font-size: 1.9em;
    font-weight: 500;
    padding: 40px 30px;
    opacity: .7;
    display: block;
}

.navig li:hover {
    opacity: 1;
    background: #111;
}

.main {
    width: 100%;
}

.prime-hd {
    width: 75%;
    float: left;
}
.Users .prime-hd {
    width: 55%;
    float: left;
}
.Users .main-sidebar-right {
    width: 45%;
    float: right;
    background: #eee;
    height: 91hv !important;
    position: relative;
    /*border-left: .5px solid rgba(0,0,0,.2);*/
}
.main-sidebar-right {
    width: 25%;
    float: right;
    background: #eee;
    height: 91hv !important;
    position: relative;
    /*border-left: .5px solid rgba(0,0,0,.2);*/
}

.main-sidebar-right .buyer-status {
    width: 100%;
    background: #fff;
    height: 13% !important;
    position: absolute;
    right: 0;
    /*border-left: .5px solid rgba(0,0,0,.2);*/
}

.main-sidebar-right .cart {
    top: 23.7%;
    width: 100%;
    background: #fff;
    height: 49% !important;
    position: absolute;
    right: 0;
    overflow: auto;
    /*border-left: .5px solid rgba(0,0,0,.2);*/
}

.ordercart{
    background: #555 !important;
    color: white;
}
.ordercart .buyerbio .opac-50{
    opacity: .8 !important;
}
.main-sidebar-right .surcharge {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 74.5%;
    bottom: 0;
    right: 0;
    /* border-left: .5px solid rgba(0,0,0,.2);*/
}

.statusbar {
    height: 9vh;
}

.tabnav {
    height: 70%;
    bottom: 0;
}

.vanishsearch {
    width: 0 !important;
    opacity: 0;
}

.tabpill {
    color: white !important;
    text-align: center;
    width: 130px;
    padding: 10px;
}

.tabpill.focus {
    color: #49B756 !important;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.itembox {
    width: 140px;
    height: 140px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ccc;
    color: #555;
    text-align: center;
    display: inline-table;
}

.itembox h5 {
    display: table-cell;
    vertical-align: middle;
    font-size: 17px;
}

.orderbtn {
    width: 100%;
    height: 30px;
    z-index: 100;
    position: relative;
}

.prime-body {
    padding-right: 12px;
}
.Users .sidebar-body{
    /*height: 600px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;*/
    height: 100%;
}
.Users .main-sidebar-right .sidebar-body .details {
    width: 100%;
    background: #fff;
    height: 350px !important;
    position: relative;
    right: 0;
}

.Users .main-sidebar-right .sidebar-body .sessions{
    width: 100%;
    background: #fff;
    height: 90vh;
    position: relative;
    right: 0;
    margin-bottom: 10px;
}
/* */
.Stocks .sidebar-body{
    /*height: 600px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;*/
    height: 100%;
}
.Stocks .main-sidebar-right .sidebar-body .details {
    width: 100%;
    background: #fff;
    height: 350px !important;
    position: relative;
    right: 0;
}

.Stocks .main-sidebar-right .sidebar-body .discount {
    width: 100%;
    background: #fff;
    height: 50vh;
    position: relative;
    right: 0;
}

.Stocks .main-sidebar-right .sidebar-body .discount .header {
    border-bottom: 2px solid rgba(240, 173, 78, 1);
}
.Stocks .main-sidebar-right .sidebar-body .discount .center {
    width:70px;
    height:50px;
}
.Stocks .main-sidebar-right .sidebar-body .photodetails{
    width: 100%;
    background: #fff;
    height: 40vh;
    position: relative;
    right: 0;
    margin-bottom: 10px;
}
.Stocks .main-sidebar-right .sidebar-body .photodetails .productpic{
    width:180px;
    height:180px;
    background: rgba(0,0,0,.2);
    border-radius: 90px;
}

.avatar-img {
    background-image: url(../img/avatar1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}
.avatar-img-female {
    background-image: url(../img/avatar2-08.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

.custlist {
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.custlisthd {
    padding-right: 35px !important;
    font-weight: 400;
    font-size: 15px;
}
.addNew .form-control {
    border-radius: 40px !important;
}
.buysec .avatar-img{
    width: 100px;
    height: 100px;
}
.buysec .avatar-img-female{
    width: 100px;
    height: 100px;
}
.cartItem-img {
    background: #ccc;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: relative;
}

.cartItem-img button {
    border: none;
    outline: none;
}

.cartItem-row {
    position: relative;
}

.hvr-overlay {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255);
    background: rgba(4, 195, 67, .2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.hvr-overlay div {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
}

.hvr-overlay div i {
    opacity: .3 !important;
    font-weight: 100 !important;
}

.hvr-overlay div i:hover {
    opacity: .6 !important;
}

.cartItem-row:hover .hvr-overlay {
    opacity: 1;
    visibility: visible;
}

.cartItem-row:hover .itemCost {
    display: none;
}

.cartItem-num {
    background: #49B756;
    /*background: #fa3353;*/
    min-width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    top: -11px;
    /*right: -3px;*/
    left: 42px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: white;
    font-weight: 500;
    padding: 0 5px;
    cursor: pointer;
}

.cartItem-num input {
    background: none;
    width: 80%;
    color: white;
    text-align: center;
    border: none;
    outline: none;
    font-size: 13px;
    /*top: 100%;*/
}

.cartItem-num input:focus {
    outline: none;
}

.cartItem-numAlign {
    top: 0;
    left: 0;
    height: 60px;
    min-width: 60px;
    border-radius: 30px;
    line-height: 60px;
    font-size: 15px;
    padding: 0;
    /*background: #A22ECE;*/
}

.addicon {
    background-image: url(../img/addicon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    filter: gray;
    opacity: .8;
    -webkit-filter: grayscale(100%);
}

.products {
    background: #fff;
    overflow: hidden;
}

.item-container {
    /* overflow-y: hidden;*/
    max-height: 450px !important;
    height: inherit;
}

.orders {
    border-top: 10px solid #eee;
    background: #fff;
}

.orderbtn button {
    font-weight: 700;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: inherit;
}
.itemlistrow {
    width: 100%;
    padding: 12px 0px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
productlist li.actparent, userlist li.actparent, customerslist li.actparent, saleshistorylist li.actparent{
    color: white !important;
    /*box-shadow:  200px 200px 20px rgba(217, 83, 79, .9) inset !important;*/
    box-shadow:  200px 200px 20px rgba(54, 165, 67, .8) inset !important;
}
.listhd {
    background: #ddd;
    color: #333;
    padding: 10px 0px;
}
.report{
    font-weight: 500;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background: #fff !important;
    outline: none;
}
