.animate-switch-container {
    position:relative;
    background:white;
    /*border:1px solid black;*/
    /* height: calc(100vh - 60px);*/
    height:91vh;
    overflow:hidden;
}


.animate-switch.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:50px;
    opacity: 0
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
    opacity: 1;
}

.pdiv.ng-enter{
    opacity : 0;
}
.pdiv.ng-enter-active{
    opacity : 1;
}