<div class="modal-dialog modal-{{settings.modal.size}}">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title ml-3">{{settings.modal.name}}</h5>
            <button type="button" class="close" id="closeInvoice" data-dismiss="modal" onclick=" ">×</button>
        </div>
        <div class="modal-body nopadding">

            <!--....... Customer Start ......... -->
            <div ng-if="settings.modal.active == 'customer'">
                <div class="BuyerPanel px-4 my-4 w-100" ng-switch on='buyer.showPanel'>
                    <div ng-switch-when='addnew' class="addNew">
                        <div class="d-block w-100 text-center buysec"><i class="fa  d-inline-block {{buyer.customer.new.gender == 'male' ? 'avatar-img' : 'avatar-img-female'}}"></i></div>
                        <form autocomplete="off" class="custform w-100 text-center mt-2 px-5 ">
                            <input class=" form-control font-fam-Montserrat w-100 mt-4 text-center d-inline-block"
                                placeholder="Name" name="full_name" ng-focus="activateAutoComplete($event)" />
                            <input class="form-control font-fam-Montserrat w-100 mt-4 text-center d-inline-block" type="number" onkeydown="javascript: return event.keyCode !=69" placeholder="Phone Number" name="phone_number" />
                            <input class="form-control font-fam-Montserrat w-100 mt-4 text-center d-inline-block"
                                placeholder="Address" name="contact_address" />
                            <!-- <input type="number" onkeydown="javascript: return event.keyCode !=69"
                            class="form-control font-fam-Montserrat w-100 mt-4 text-center d-inline-block"
                            placeholder="Room" name="room" /> -->
                            <div class="w-100 d-inline-block px-5 mt-3">
                                <span class="float-left">
                                    <input type="radio" id="male" name="gender" value="male" ng-model="buyer.customer.new.gender" />
                                    <label class="ml-2 d-inline-block pointer" for="male">Male</label>
                                </span>
                                <span class="float-right">
                                    <input type="radio" id="female" name="gender" value="female" ng-model="buyer.customer.new.gender" />
                                    <label class="ml-2 d-inline-block pointer" for="female">Female</label>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div ng-switch-when='search' class="customerPanel font-fam-Montserrat">
                        <div class="searchPanel float-left w-50 pl-2 pr-3">
                            <div>
                                <input placeholder="Search" class="form-control customer-search m-0 w-100" ng-model="searchquery" />
                            </div>
                            <div class="custlist w-100 mt-3 pb-4">
                                <div class="custlisthd w-100 px-3 py-1 wht grn">
                                    <div class="d-inline-block w-70">Name</div>
                                    <div class="d-inline-block w-25">Balance</div>
                                </div>
                                <div class="ul-con h-100" style="overflow-y:auto;">
                                    <ul class="w-100">
                                        <li ng-click="buyer.customer.selectCustomer(cust)" ng-style="{'background' : cust.full_name == buyer.customer.selected.full_name ? '#ccc': null}"
                                            ng-repeat="cust in buyer.customer.customerList | filter:searchquery" class="w-100 px-3 py-1 f-13">
                                            <div class="d-inline-block w-70">{{cust.full_name}}</div>
                                            <div class="d-inline-block w-25">{{cust.outstanding_balance}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="historyPanel float-right w-50 pl-3 pr-2">
                            <div class="w-100 row justify-content-between align-items-center">
                                <div class="col-4 buysec"><i class="fa {{buyer.customer.selected.gender == 'male' ? 'avatar-img' : 'avatar-img-female'}}"></i></div>
                                <h3 class="col-8">{{buyer.customer.selected.full_name}}</h3>
                            </div>
                            <div class="row w-100">
                                <!-- <div class="col-4 my-3 opac-50  pl-4">Room</div>
                                <div class="col-8 my-3 opac-50 ">{{buyer.customer.selected.room}}</div> -->
                                <div class="col-4 my-3 opac-50  pl-4">Phone</div>
                                <div class="col-8 my-3 opac-50 ">{{buyer.customer.selected.phone_number}}</div>
                                <div class="col-4 my-3 opac-50  pl-4">Address</div>
                                <div class="col-8 my-3 opac-50 ">{{buyer.customer.selected.contact_address}}</div>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
                <div class="modal-footer w-100">
                    <div class="justify-content-center w-100 d-flex flex-column">
                        <div class="py-1 align-self-center row justify-content-between w-70">
                            <button type="button" class="b-0 btn btn-warning" ng-click="buyer.customer.selected = buyer.showPanel == 'addnew' ? buyer.customer.jsonform('visitor') : buyer.customer.selectedDefault">{{buyer.showPanel
                                == 'addnew' ? 'Select' : 'Reset'}}</button>
                            <button type="button" ng-class="{'gone': buyer.showPanel != 'addnew'}" class="b-0 btn btn-success"
                                ng-click="buyer.customer.makeCustomer()">Add</button>
                            <button type="button" class="btn b-0 {{buyer.showPanel == 'addnew' ? 'btn-danger' : 'btn-info'}}"
                                ng-click="buyer.showPanel = buyer.showPanel == 'addnew' ? 'search' : 'addnew';settings.modal.size = buyer.showPanel == 'addnew' ? 'md' : 'lg'; buyer.customer.makeCustomerList(); ">{{buyer.showPanel
                                == 'addnew' ? 'Search' : 'New'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Customer End ......... -->


            <!--....... Payment Start ......... -->
            <div ng-if="settings.modal.active == 'payment'">
                <div>
                    <form autocomplete="off" id="recieptForm" class="custform w-100 text-center mt-2 ">

                        <div class="buyer w-100">
                            <h3 class="mb-4 opac-50 mt-3">{{surcharge.reciept.customer}}</h3>

                            <div class="pay-method">
                                <select ng-model="surcharge.reciept.pay_method" class="form-control methpay mx-auto my-4 w-40 f-13"
                                    name="paymethod">
                                    <option value="Cash">Cash</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="POS">POS</option>
                                    <option value="Credit">Credit</option>
                                </select>

                            </div>

                            <div class="w-100 px-4 pt-3 choralback row justify-content-around wht">
                                <span>
                                    <h6 class="mb-2">Sales Rep</h6>
                                    <p>{{surcharge.reciept.sales_rep}}</p>
                                </span>
                                <span>
                                    <h6 class="mb-2">Discounted Total</h6>
                                    <p>{{surcharge.reciept.discounted_total_cost}}</p>
                                </span>
                            </div>

                        </div>

                        <div class="my-4">
                            <div class=" hs-25 ovflo-y">
                                <ul class="w-100 row justify-content-center ">
                                    <li ng-repeat="prod in surcharge.reciept.item_list" class="w-75  py-2 f-17 row justify-content-between">
                                        <h4 class="text-left text-light">{{prod.item}}</h4>
                                        <h4 class="text-left text-light">{{prod.quantity}}</h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="w-100 row justify-content-between px-4">
                                <form autocomplete="off">
                                    <span class="px-3 w-50"><label class="font-fam-Montserrat-bold opac-50">Paid</label><input
                                            ng-change="surcharge.reciept.outstanding_balance = surcharge.reciept.discounted_total_cost - surcharge.reciept.amount_paid "
                                            ng-model="surcharge.reciept.amount_paid" name="paid" placeholder="Amount Paid"
                                            class="text-center form-control"  type="number" onkeydown="javascript: return event.keyCode !=69" /></span>
                                    <span class="px-3 w-50"><label class="font-fam-Montserrat-bold opac-50">Balance</label><input
                                            ng-model="surcharge.reciept.outstanding_balance" readonly name="paid"
                                            placeholder="Balance" class="text-center form-control" /></span>
                                </form>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="modal-footer w-100 px-5">
                    <div class="justify-content-center w-100 d-flex flex-column">
                        <div class="py-1 row justify-content-center w-100">
                            <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                    height="70px" /></div>
                            <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success my-3"
                            ng-click=" settings.modal.adding = true; surcharge.payment.receiptPrint();" >
                                Pay
                            </button>
                        </div>
                        <div class="row pt-3 justify-content-center">
                            <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Payment End ......... -->

            <!--....... Product Start ......... -->
            <div ng-if="settings.modal.active == 'Add Product'">
                <form autocomplete="off" class="addProductForm mx-5 my-4">
                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Name" name="item" />
                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Stock" type="number" type="number" onkeydown="javascript: return event.keyCode !=69" name="current_stock" />
                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Price" type="number" type="number" onkeydown="javascript: return event.keyCode !=69" name="current_price" />
                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Description"
                        name="description" />
                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Category"
                        name="category" />
                    <div class="row justify-content-around my-2 align-items-center font-fam-Montserrat">
                        <h6 class="font-fam-Montserrat-bold choral">Shelf Item</h6>
                        <span>
                            <input type="radio" ng-model = 'productstock.jslist.shelfitem' id="yes" value="yes"  name="shelf_item" />
                            <label for="yes" class="f-15 ml-2">Yes</label>
                        </span>
                        <span>
                            <input type="radio" ng-model = 'productstock.jslist.shelfitem' value="no" name="shelf_item" id="no" />
                            <label for="no" class="f-15 ml-2">No</label>
                        </span>
                    </div>

                    <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Type" name="type" />
                </form>
                <div class="modal-footer w-100">
                    <div class="justify-content-center w-100 d-flex flex-column">
                        <div class="py-1 row justify-content-center w-100">
                            <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                    height="70px" /></div>
                            <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success my-3"
                                onclick="addProduct()">
                                Add
                            </button>
                        </div>
                        <div class="row pt-3 justify-content-center">
                            <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="settings.modal.active == 'Update Product'">
                <form autocomplete="off" class="updateProductForm">
                    <div class="ml-5 my-4 float-left w-40 inpRead">
                        <div class="w-100">
                            <input class="item form-control font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                                value="rer" name="item" readonly />
                            <input class="form-control gone font-fam-Montserrat text-center d-block my-4" placeholder="Stock"
                                name="current_stock" readonly />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Price"
                                name="current_price" readonly />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Description"
                                name="description" readonly />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Category"
                                name="category" readonly />
                            <input type="text" name="shelf_item" class="form-control gone font-fam-Montserrat text-center d-block my-4" readonly />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Type"
                                name="type" readonly />
                        </div>
                    </div>
                    <div class="updateProductForm mr-5 my-4 float-right w-40">
                        <div class="w-100">
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                                name="new_item" />
                            <input class="form-control gone font-fam-Montserrat text-center d-block my-4" placeholder="Stock" type="number" onkeydown="javascript: return event.keyCode !=69" name="new_current_stock" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Price" type="number" onkeydown="javascript: return event.keyCode !=69" name="new_current_price" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Description"
                                name="new_description" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Category"
                                name="new_category" />
                            <div class="row gone justify-content-around my-2 align-items-center font-fam-Montserrat">
                                <h6 class="font-fam-Montserrat-bold choral">Shelf Item</h6><span><input type="radio" id="yes"
                                        value="yes" name="new_shelf_item" /><label for="yes" class="f-15 ml-2">Yes</label></span><span><input
                                        type="radio" checked value="no" name="new_shelf_item" id="no" /><label for="no"
                                        class="f-15 ml-2">No</label></span>
                            </div>

                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Type"
                                name="new_type" />
                        </div>
                    </div>
                </form>
                <div class="modal-footer w-100">
                    <div class="justify-content-center w-100 d-flex flex-column">
                        <div class="py-1 row justify-content-center w-100">
                            <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                    height="70px" /></div>
                            <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success my-3"
                                onclick="updateProduct()">
                                Update
                            </button>
                        </div>
                        <div class="row pt-3 justify-content-center">
                            <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Product End ......... -->


            <!--....... Stock Start ......... -->
            <div ng-if="settings.modal.active == 'Stock'">
                <!--<div class = "w-100" ng-if = "settings.modal.name == 'Update Discount'">
                    <form autocomplete="off" class="updateDiscount p-4 w-100">
                        <div class= "float-left w-45 inpRead row m-0">
                            <input class="discntitem form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Item" readonly name = "discount_item"/>
                            <input class="discntname form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Name" readonly name = "discount_name"/>
                            <input class="uplimit form-control font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" readonly name = "upper_limit"/>
                            <input class="lowlimit form-control font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" readonly name = "lower_limit"/>
                            <input class="discountvalue form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Value" name = "discount_value" readonly/>
                        </div>
                        <div class= "float-right w-45 row m-0">
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Item" name = "new_discount_item"/>
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Name" name = "new_discount_name"/>
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" name = "new_upper_limit"/>
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" name = "new_lower_limit"/>
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Value" name = "new_discount_value"/>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                                <div class="py-1 row justify-content-center w-100">
                                <div ng-class = "{gone : !settings.modal.adding}"><img src = "./assets/img/loader.gif" width = "100px" height = "70px"/></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success" onclick="updateDiscount()">
                                    {{settings.modal.name | limitTo:6}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center"><p class = "{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p></div>
                        </div>
                    </div>
                </div>-->
                <div class="w-100" ng-if="settings.modal.name == 'Add Stock'">
                    <form class="p-4 w-100 addStockForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Stock No" type="number" onkeydown="javascript: return event.keyCode !=69" name="quantity" />
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="addStock()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Stock End ......... -->


            <!--....... Discount Start ......... -->
            <div ng-if="settings.modal.active == 'Discount'">
                <div class="w-100" ng-if="settings.modal.name == 'Update Discount'">
                    <form autocomplete="off" class="updateDiscount p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="discntitem form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Discount Item" readonly name="discount_item" />
                            <input class="discntname form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Discount Name" readonly name="discount_name" />
                            <input class="uplimit form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Upper Limit" readonly name="upper_limit" />
                            <input class="lowlimit form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Lower Limit" readonly name="lower_limit" />
                            <input class="discountvalue form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Discount Value" name="discount_value" readonly />
                        </div>
                        <div class="float-right w-45 row m-0">
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Item"
                                name="new_discount_item" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Name"
                                name="new_discount_name" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" type="number" onkeydown="javascript: return event.keyCode !=69" name="new_upper_limit" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" type="number" onkeydown="javascript: return event.keyCode !=69" name="new_lower_limit" />
                            <input class="form-control font-fam-Montserrat text-center d-block my-4" placeholder="Discount Value" type="number" onkeydown="javascript: return event.keyCode !=69" name="new_discount_value" />
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif"
                                        width="100px" height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="updateDiscount()">
                                    {{settings.modal.name | limitTo:6}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Add Discount'">
                    <form class="p-4 w-100 addDiscount row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Discount Name"
                            name="discount_name" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Lower Limit" type="number" onkeydown="javascript: return event.keyCode !=69" name="lower_limit" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Upper Limit" type="number" onkeydown="javascript: return event.keyCode !=69" name="upper_limit" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Discount Value" type="number" onkeydown="javascript: return event.keyCode !=69" name="discount_value" />
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.addingg}"><img src="./assets/img/loader.gif"
                                        width="100px" height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="addDiscount()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... Discount End ......... -->


            <!--....... User Start ......... -->
            <div class="w-100" ng-if="settings.modal.active == 'Guest'">
                <div class="w-100" ng-if="settings.modal.name == 'Add Guest'">
                    <form class="p-4 w-100 addGuestForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-2" placeholder="Name"
                            name="guest_name" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-2" placeholder="Phone Number"
                            name="phone_number" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-2" placeholder="Address" name="contact_address" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-2" placeholder="Rooms" name="total_rooms_booked" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-2" placeholder="Number of Nights" name="no_of_nights" />
                        <!-- <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Room Outstanding" name="room_outstanding" /> -->
                        <div class="row justify-content-between w-50 py-2">
                            <span class="py-1">
                                <input type="radio" id="male" value="male" checked name="guest_type_gender" />
                                <label for="male" class="f-15 ml-2">Male</label>
                            </span>
                            <span class="py-1">
                                <input type="radio" value="female" name="guest_type_gender" id="female" />
                                <label for="female" class="f-15 ml-2">Female</label>
                            </span>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="addGuest()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Update Guest'">
                    <form autocomplete="off" class="updateGuestForm p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="user form-control font-fam-Montserrat text-center d-block my-4" placeholder="User"
                                name="user" readonly />
                            <input class="user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Username" name="user_name" readonly />
                            <input class="role form-control font-fam-Montserrat text-center d-block my-4" placeholder="Role"
                                name="role" readonly />
                            <input class="password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Password" name="pass" readonly />
                        </div>
                        <div class="float-right w-45 row m-0 justify-content-center">
                            <input class="user form-control font-fam-Montserrat text-center d-block my-4" placeholder="User"
                                name="new_user" />
                            <input class="user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Username" name="new_user_name" />
                            <div class="row justify-content-between w-50 py-4">
                                <span class="py-1">
                                    <input type="radio" id="admin" value="admin" name="new_role" />
                                    <label for="admin" class="f-15 ml-2">Admin</label>
                                </span>
                                <span class="py-1">
                                    <input type="radio" checked value="user" name="new_role" id="user" />
                                    <label for="user" class="f-15 ml-2">User</label>
                                </span>
                            </div>
                            <input class="password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Password" name="new_password" />
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>

                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="updateGuest()">
                                    {{settings.modal.name | limitTo:7}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... User End ......... -->


            <!--....... User Start ......... -->
            <div class="w-100" ng-if="settings.modal.active == 'User'">
                <div class="w-100" ng-if="settings.modal.name == 'Add User'">
                    <form class="p-4 w-100 addUserForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                            name="user" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Username"
                            name="user_name" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Password"
                            name="user_pass" />
                        <div class="row justify-content-between w-50">
                            <span>
                                <input type="radio" id="admin" value="admin" name="role" />
                                <label for="admin" class="f-15 ml-2">Admin</label>
                            </span>
                            <span>
                                <input type="radio" checked value="user" name="role" id="user" />
                                <label for="user" class="f-15 ml-2">User</label>
                            </span>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="addUser()">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Update User'">
                    <form autocomplete="off" class="updateUserForm p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="user form-control font-fam-Montserrat text-center d-block my-4" placeholder="User"
                                name="user" readonly />
                            <input class="user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Username" name="user_name" readonly />
                            <input class="role form-control font-fam-Montserrat text-center d-block my-4" placeholder="Role"
                                name="role" readonly />
                            <input class="password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Password" name="pass" readonly />
                        </div>
                        <div class="float-right w-45 row m-0 justify-content-center">
                            <input class="user form-control font-fam-Montserrat text-center d-block my-4" placeholder="User"
                                name="new_user" />
                            <input class="user-name form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Username" name="new_user_name" />
                            <div class="row justify-content-between w-50 py-4">
                                <span class="py-1">
                                    <input type="radio" id="admin" value="admin" name="new_role" />
                                    <label for="admin" class="f-15 ml-2">Admin</label>
                                </span>
                                <span class="py-1">
                                    <input type="radio" checked value="user" name="new_role" id="user" />
                                    <label for="user" class="f-15 ml-2">User</label>
                                </span>
                            </div>
                            <input class="password form-control font-fam-Montserrat text-center d-block my-4"
                                placeholder="Password" name="new_password" />
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>

                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="updateUser()">
                                    {{settings.modal.name | limitTo:7}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--....... User End ......... -->

            <!--....... Customers Start ......... -->
            <div class="w-100" ng-if="settings.modal.active == 'Customers'">
                <div class="w-100" ng-if="settings.modal.name == 'Add Customer'">
                    <form class="p-4 w-100 addCustomersForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                            name="full_name" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Phone"
                            name="phone_number"  type="number" onkeydown="javascript: return event.keyCode !=69" />
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Address"
                            name="contact_address" />

                        <div class="row justify-content-between w-50 py-4">
                            <span class="py-1">
                                <input type="radio" id="male" value="male" name="gender" />
                                <label for="male" class="f-15 ml-2">Male</label>
                            </span>
                            <span class="py-1">
                                <input type="radio" checked value="female" name="gender" id="female" />
                                <label for="female" class="f-15 ml-2">Female</label>
                            </span>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="addCustomer('.addCustomersForm')">
                                    {{settings.modal.name | limitTo:3}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="w-100" ng-if="settings.modal.name == 'Update Customer'">
                    <form autocomplete="off" class="updateCustomersForm p-4 w-100">
                        <div class="float-left w-45 inpRead row m-0">
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                                name="full_name" readonly />
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Phone"
                                name="phone_number" readonly />
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Address"
                                name="contact_address" readonly />
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Gender"
                                name="gender" readonly />
                        </div>
                        <div class="float-right w-45 row m-0 justify-content-center">
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Name"
                                name="new_full_name" />
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Phone"
                                name="new_phone_number"  type="number" onkeydown="javascript: return event.keyCode !=69" />
                            <input class="form-control w-100 font-fam-Montserrat text-center d-block my-4" placeholder="Address"
                                name="new_contact_address" />

                            <div class="row justify-content-between w-50 py-4">
                                <span class="py-1">
                                    <input type="radio" id="male" value="male" name="new_gender" />
                                    <label for="male" class="f-15 ml-2">Male</label>
                                </span>
                                <span class="py-1">
                                    <input type="radio" checked value="female" name="new_gender" id="female" />
                                    <label for="female" class="f-15 ml-2">Female</label>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>

                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success"
                                    onclick="updateCustomer()">
                                    {{settings.modal.name | limitTo:7}}
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100" ng-if="settings.modal.name == 'Debt Clear'">
                    <form class="p-4 w-100 debtpayForm row justify-content-center m-0">
                        <input class="form-control w-75 font-fam-Montserrat text-center d-block my-4" placeholder="Amount Paid" name="amount_paid" type="number" onkeydown="javascript: return event.keyCode !=69" />

                        <select ng-model="listtranxs.jslist.pay_method" class="form-control methpay mx-auto my-4 w-40 f-13"
                            name="means_of_payment">
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="POS">POS</option>
                            <option value="Credit">Credit</option>
                        </select>


                    </form>
                    <div class="modal-footer w-100">
                        <div class="justify-content-center w-100 d-flex flex-column">
                            <div class="py-1 row justify-content-center w-100">
                                <div ng-class="{gone : !settings.modal.adding}"><img src="./assets/img/loader.gif" width="100px"
                                        height="70px" /></div>
                                <button type="button" class="{{settings.modal.adding ? 'gone' : ''}} b-0 btn btn-success" onclick="debtpaydata()">
                                    pay
                                </button>
                            </div>
                            <div class="row pt-3 justify-content-center">
                                <p class="{{settings.modal.msgcolor}} report f-14">{{settings.modal.msg}}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--....... Customers End ......... -->

        </div>
    </div>
</div>